@media only screen and (min-width: 481px) and (max-width: 2000px) {

	html, body {background-color: black; color: white; font-family: arial, sans-serif; font-size: 12px;}
	
	nav, hr, header {max-width: 1016px; margin: 0px auto 0px auto; clear: both;}
	
	/* LINKS, HEADERS */
	
		h1 {margin-left: auto; margin-right: auto; width: 180px; height: 30px;
		background-color: #dd2e2e; background-image: url("../img/title.png");}
		
		h2 { position: relative; top: -5px; margin-left: auto; margin-right: auto; width: 60px; height: 25px;
		background-color: #dd2e2e; background-image: url("../img/open.jpg");}
	
		a:link, a:visited {text-decoration: none; color: white;}
		a:hover, a:active {color: red;}
	
	/* NAVIGATION */
	
		nav {height: 30px; margin: 0px auto -10px auto; }
		
		#nav {border-bottom: 1px solid white;}
		
		nav ul li {float: left; padding-bottom: 20px;}
		
		nav ul li {padding-right: 20px; padding-left: 20px;}
		nav ul.right li.edge {padding-right: 0px; padding-left: 20px;}
		nav ul.left li.edge {padding-right: 20px; padding-left: 0px;}
		
		nav ul.left {width: 400px;}
		nav ul.right {width: 337px;}
		
		ul.left {float: left;}
		ul.left li {margin: 0px 5px 0px 0px; }
		
		ul.right {float: right;}
		ul.right li {margin:0px 0px 0px 5px; }
	
	
	
	hr { height: 1px; background-image: url('../img/hr.jpg'); background-repeat: repeat-x; border: 0px solid black; display: none;}
	
	
	/* ARTIST LIST */
	
	.dropdown {width: 100%; height: 100%; position: relative; background-color: black; border-bottom: 1px solid white; border-left: 1px solid white; top: -24px; }
	.artzone {display:none;}
	.contactzone {display:none;}
	.contactzone section { width: 75%; margin: 0px auto; margin-top: 50px;}
	.contactzone section p { margin-bottom: 20px; margin-top: 20px;}
	.artists {padding-top:30px; z-index: 500;}
	.artists {margin-top: 30px;}
	.artists li {margin-left: 60px; height: 50px; padding-top: 20px;}
	
	header {margin-top: 0px;}
	
	article, footer {max-width: 1116px; clear: both; margin: 0px auto 0px auto;}
	
	article { padding: 0px; }
	
	.artists {display: inline;}
	
	#lx {float: left; width: 60%; height: 500px; padding-top: 20px}
	#lx img {width: 100%; max-height: 500px;}
	#rx {float: right; width: 38%; height: 500px; padding-top: 20px;}
	.rightcontent {display: block;}
	#rx img {margin: 90px 80px 0px 0px; width: 75%;}
	
	.arm {}
	.ialika {display: none;}
	.imira {display: none;}
	.isamara {display: none;}
	.ipaulh {display: none;}
	.ianna {display: none;}
	.ipaulw {display: none;}
	
	#features ul li a:link, #features ul li a:visited {text-decoration: none;}
	#features ul li a:hover, #features ul li a:active {color: #ffffff;}
	
	footer {padding: 30px 0px 30px 0px;}
	
	footer div ul li {float: left; margin-right: 30px;}
	
	footer div#tonight {float: right; margin-right: 60px;}
	
	#feast {color: #00b1f2;}
	#papers {color: #00bf42;}
	#tonightsevent {color: red;
	}
	
	#fine {color: #363636; font-size: 10px; margin-top: 0px; padding-top: 0px;
	}
	
	#fine a {color: #636363;
	}
	
	#iphone-info {display:none;}

}

@media handheld, only screen and (max-device-width: 480px), only screen and (min-width: 0px) and (max-width: 480px) {

	html, body {background-color: black; color: white; font-family: arial, sans-serif; font-size: 30px; width: 90%; margin: 0px auto;}
	
	.wid {width: 100%;}
	
	#iphone {color: white; display: inline;}
	
	nav, hr, header {max-width: 100%; margin: 0px auto 0px auto; clear: both;}
	
	nav {height: 400px; width: 100%;}
	
	#nav {display: none;}
	
	#iphone-info {width: 90%; margin: auto; text-align: center; text-align: center; font-size: 1.2em; display: block;}
	
	a:link, a:visited {text-decoration: none; color: white;}
	a:hover, a:active {color: red;}
	
	
	nav ul li {float: none; size: 2em; text-align: center; border-bottom: 1px solid white; }
	

	
	ul.left {float: none;}
	ul.left li {margin: none;}
	
	ul.right {float: none;}
	ul.right li {margin: none;}
	
	#lightbox {width: 100%; height: 30px; background-repeat: repeat-x; }
	
	comment { background-image: url('../img/gradient2.png'); }
	
	h1 {margin-left: auto; margin-right: auto; width: 100%; height: 75px;
		background-image: url("../img/title.png"); background-size: contain; background-repeat: no-repeat;}
	
	hr { height: 1px; background-image: url('../img/hr.jpg'); background-repeat: repeat-x; border: 0px solid black}
	
	#artzone {max-width: 100%; margin-top: 10px; height: 30px}
	#artzone ul {max-width: 200px; float: right;}
	#artzone ul li {float: left; margin-left: 40px;}
	
	header {margin-top: 0px;}
	
	article, footer {max-width: 100%; clear: both; margin: 0px auto 0px auto;}
	
	article { padding: 0px; }
	
	.artists {display: none;}
	
	#lx { width: 100%; padding-top: 20px}
	#lx img {width: 100%; max-height: 500px;}
	#rx {width: 100%; padding-top: 20px;}
	.rightcontent {display: block;}
	#rx img {margin: auto; width: 100%;}
	
	.arm {}
	.ialika {display: none;}
	.imira {display: none;}
	.isamara {display: none;}
	.ipaulh {display: none;}
	.ianna {display: none;}
	.ipaulw {display: none;}
	
	#features ul li a:link, #features ul li a:visited {text-decoration: none;}
	#features ul li a:hover, #features ul li a:active {color: #ffffff;}
	
	footer {padding: 30px 0px 30px 0px;}
	footer li {margin-bottom: 10px;}
	
	footer div ul li {float: none; margin-right: 30px;}
	
	footer div#tonight {float: none; margin-right: 60px;}
	
	#feast {color: #00b1f2;}
	#papers {color: #00bf42;}
	#tonightsevent {color: red;
	}
	
	#fine {color: #363636; font-size: 10px; margin-top: 0px; padding-top: 0px;
	}
	
	#fine a {color: #636363;
	}	
}
